#include <winresrc.h>
#include "graygif_output.h"

CONFIG DIALOG 0, 0, 128, 128
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "グレーAGIF出力の設定"
FONT 9, "ＭＳ Ｐゴシック"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 80, 52, 16
 CONTROL "ｷｬﾝｾﾙ", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 80, 52, 16
 CONTROL "繰り返し回数", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 8, 76, 8
 CONTROL "(0 を指定すると無限ループ)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 20, 112, 8
 CONTROL "", IDC_EDIT0, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 32, 52, 16
 CONTROL "事前乗算を元に戻す", IDC_CHECK1, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8,56, 112,16
}


