
*.auo2
*.aui2

*.aps
*.user
*.filters
*.res

*.log
*.lib

*.exp
*.pdb
*.recipe
*.ilk
*.pch
*.obj
*.idb
*.tlog
*.iobj
*.ipdb

*.ipch
*.vsidx

*.db
*.db-shm
*.db-wal
*.opendb
