#include <winresrc.h>
#include "apng_output.h"

CONFIG DIALOG 0, 0, 128, 96
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "APNGèoóÕÇÃê›íË"
FONT 9, "ÇlÇr ÇoÉSÉVÉbÉN"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 56, 52, 16
 CONTROL "∑¨›æŸ", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 56, 52, 16
 CONTROL "", IDC_EDIT0, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 68, 32, 52, 16
 CONTROL "RGBÇAÇ≈äÑÇÈ", IDC_CHECK1, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE, 8,80, 112,16
}
